body {
  font-family: "TsukuARdGothic-Regular"!important;
}

.base-bg,.pagination .page-item.active .page-link {
  background: linear-gradient(40deg,#bd9576,#af9b65)!important;
}

.top-img {
  position: relative;
  width: 100%;
  height: calc(100vh - 56px);
  object-fit: cover;
}

.top-message {
  position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    background-color: rgba(255,255,255,0.5);
    padding: 20px 20px;
}

.show-img{
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-right: 1px solid #ced4da;
}

.card-header.d-flex.flex-row {
  position: relative!important;
}

.dropdown-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
}